/* COLOR DE EL SIDEBAR */
.navbar-inverse  .navbar-collapse{

	background-color: #e34b4b;
}

/* COLOR DEL HEADER */
.side-nav{

	background-color: #e34b4b;
}

html{

	background-color: #fff;
}

/* BOTONES FORMULARIO CATEGORIAS*/

.linea{

	display: inline-block;
	padding-left: 10px;
}

.form-autores{

	padding-bottom: 40px;
}

/* COLOR DE LAS LETRAS */
.navbar-inverse .navbar-nav>li>a {
    color: black;
}
/* COLOR DEX */
.navbar-inverse .navbar-brand {
    color: black;
}