.navbar-inverse  .navbar-collapse{

	background-color: #7fffd4;
}

.side-nav{

	background-color: #7fffd4;
}

html{

	background-color: #fff;
}

/* BOTONES FORMULARIO CATEGORIAS*/

.linea{

	display: inline-block;
	padding-left: 10px;
}

.form-autores{

	padding-bottom: 40px;
}